/* Starting section style starts here */

.welcome-h1 {
    font-style: normal;
    font-size: 90px;
    line-height: 85px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
}

.penguin {
    color: #91c251;
}

#winter {
    color: #131458;
}

.button {
    color: #f0ebda;
    background-color: #fa903a;
}

#Jacket {
    color: #131458;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

.penguin-winter-center {
    margin-top: 5rem;
}

/* Starting section style ends here */

/* Woman and Man Jacket Section style starts here*/

.cart-price {
    color: #4c944c;
    font-weight: 700;
}

.man-jacket-card {
    padding: 0 20px;
}

/* global image style for woman & Mans Jacket section */

.image-style {
    width: 100%;
    height: 360px;
    padding: 45px 65px;
    background: #F1F1F1;
    border-radius: 25px;
}

/* Woman and Man Jacket Section style ends here*/

/* global background-style for all cards */

.background-style {
    background-color: ghostwhite;
    border-radius: 25px;
}

.penguin-Card {
    border-style: none;
}

.penguin-Card-footer {
    border-style: none;
}

.penguin-card-titles {
    color: #0c0d53;
}

.clear-button {
    background-color: #ff4c4c;
    color: #f0ecdf;
}

.submit-button {
    background-color: #2fc05b;
    color: #f0ecdf;
}
.connected-footer{
    color: #131458;
}
#connet-footer-id{
    color: #ff8800;

}